<ion-header>
  <ion-toolbar>
    <ion-title>Método de pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="margin-top: 10%;"> 
  <ion-label>Método de pago</ion-label>
  <ion-item>
    <ion-input placeholder="Card Number" [(ngModel)]="Card" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Card Holder Name" [(ngModel)]="CardHolder" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-item >
      <ion-input placeholder="Exp.Month " [(ngModel)]="ExpM" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-input placeholder="Exp.Year " [(ngModel)]="ExpY" required></ion-input>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-input placeholder="CVV" [(ngModel)]="CVV" required></ion-input>
  </ion-item>
</div>
<div style="margin-top: 10%;">
  <ion-label>Promo Code</ion-label>
  <ion-item>
    <ion-input [(ngModel)]="Codigo" placeholder="introduce el codigo"></ion-input>
  <ion-button>Apply</ion-button>
  </ion-item>
</div>

<ion-checkbox color="primary" style="margin-right : 3%; margin-top : 3%;"></ion-checkbox>
<i-label >I agree </i-label>
<div style="margin-top: 25%;">
  <ion-button (click)="continuar()" color="primary" expand="full">Complete Order</ion-button>  
  <ion-button (click)="tornar()" color="primary" expand="full">Back</ion-button>  
  
</div>

</ion-content>
