<ion-header>
  <ion-toolbar>
    <ion-title>Dirección de envío</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div style="padding-top: 5%; padding-left: 5%;">
    <ion-label> Shipping Address</ion-label>

  </div>
  <div style="padding-left: 10%;">
  <br>
  <ion-label id="FnameLName">{{nomcognom}}</ion-label>
  <br>
  <ion-label id="Address"> {{adress}}</ion-label>
  <br>
  <ion-label id="number">{{telefon}}</ion-label>
  </div>
  <div style="padding-top: 5%; padding-left: 5%;">
    <ion-label>Shipping Method</ion-label>
    <ion-list>
      <ion-radio-group [(ngModel)]="envio">

          <ion-radio value="free" ></ion-radio>
          <ion-label>Free Shipping (2-5 Business Days)</ion-label>


          <ion-radio value="nofree"></ion-radio>
          <ion-label>Express (1-2 Business Days)</ion-label>

      </ion-radio-group>
    </ion-list>
  </div>

    <ion-button (click)="continuar()" color="primary" expand="full">Continuar</ion-button>  
    <ion-button (click)="tornar()" color="primary" expand="full">Back</ion-button>  


</ion-content>
