<ion-header>
  <ion-toolbar>
    <ion-title>Informació</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="padding-left: 10%;">
    <br>
    <ion-label> Informació Usuari</ion-label>
    <br>
  <br>
  <ion-label id="nom">{{nom}}</ion-label>
  <br>
  <ion-label id="nom">{{cognom}}</ion-label>
  <br>
  <ion-label id="telefon">{{tel}}</ion-label>
  <br>
  <ion-label id="email">{{email}}</ion-label>
  <br>
  <ion-label id="direccio">{{direccio}}</ion-label>
  <br>
  <ion-label id="Address2">{{direccio2}}</ion-label>
  <br>
  <ion-label id="empresa">{{empresa}}</ion-label>
  </div>
  <div style="padding-left: 10%;padding-top: 5%;">
    <ion-label> Informació Targeta</ion-label>
    <br>
    <br>
  <ion-label id="Card">{{card}}</ion-label>
  <br>
  <ion-label id="CardHolder">{{cardholder}}</ion-label>
  <br>
  <ion-label id="ExpMY">{{expMY}}</ion-label>
  <br>
  <ion-label id="CVV">{{CVV}}</ion-label>
  </div>
  <ion-button (click)="tornarinici()" color="primary">Inici</ion-button>  

</ion-content>
