<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div style="margin-top: 10%;"> 

  <i-label>Código promocional</i-label>
  <ion-item>
    <ion-input [(ngModel)]="Codigo" placeholder="introduce el codigo"></ion-input>
  <ion-button>Apply</ion-button>
  </ion-item>
  <i-label>Información del cliente</i-label>
  <ion-item>
    <ion-input placeholder="Correo electronico" [(ngModel)]="Correo" required></ion-input>
  
  </ion-item>
  <ion-checkbox color="primary" style="margin-right : 3%; margin-top : 3%;"></ion-checkbox>
  <i-label >I consent to receiving emails </i-label>
  </div>
<div style="margin-top: 10%;"> 
  
  <ion-label>Estoy comprando como</ion-label>
<ion-item>
 <ion-item>
  <ion-input type="text" style="width: 49%;" [(ngModel)]="Nombre" placeholder="Nombre" required></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text"style="width: 49%;" [(ngModel)]="Apellido" placeholder="Apellido" required></ion-input>
</ion-item>
</ion-item>
 

  <ion-item>
    <ion-input type="text" [(ngModel)]="Empresa" placeholder="Empresa (Opcional)" name="Empresa"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="Direccion" placeholder="Dirección" name="Direccion"required></ion-input>
  </ion-item>
  <ion-item> 
    <ion-input type="text" [(ngModel)]="Direccion2" placeholder="Dirección linea 2 (Opcional)" name="Direccion2"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-select [(ngModel)]="Pais" placeholder="Pais" required>
      <ion-select-option value="Spain">Spain</ion-select-option>
      <ion-select-option value="France">France</ion-select-option>
      <ion-select-option value="Italy">Italy</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-item style="width: 50%;">
      <ion-input type="text" required [(ngModel)]="Ciudad" placeholder="Ciudad" name="Ciudad"></ion-input>
    </ion-item>
    <ion-item style="width: 50%;">
      <ion-select [(ngModel)]="Provincia" placeholder="Provincia" required>
        <ion-select-option value="Bcn">Barcelona</ion-select-option>
        <ion-select-option value="Canarias">Canarias</ion-select-option>
        <ion-select-option value="Cadiz">Cadiz</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item>
 <ion-item>
  <ion-item style="width: 50%;" >
    <ion-input type="text" required [(ngModel)]="cp" placeholder="Codigo Postal" name="Codigo"></ion-input>
  </ion-item>
  <ion-item style="width: 50%;">
    <ion-input type="tel"  required [(ngModel)]="Telefono" placeholder="Telefono" name="Telefono"></ion-input>
  </ion-item>
 </ion-item>
</div>

  <ion-button (click)="logForm()" color="primary" expand="full">Continuar</ion-button>  
</ion-content>
